<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.administrator.myapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature android:name="android.hardware.nfc.hce"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:process=":test"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:allowTaskReparenting="true">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
            <intent-filter>
                <data
                    android:host="nihao"
                    android:scheme="xcy"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <!--xcy://nihao/addf?aaa=123  splash-->
        <!--aiyou://nihao/addf?aaa=123   直接-->
        <activity
            android:name=".urlscheam.UrlScActivity"
            android:allowTaskReparenting="true"
            >
            <!--要想在别的App上能成功调起App，必须添加intent过滤器-->
            <!--wscshangxueyuan://login-->
            <intent-filter>
                <!--协议部分，随便设置-->
                <data
                    android:host="nihao"
                    android:scheme="aiyou"/>
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name=".jieping.MainActivity"/>
        <activity android:name=".video.VideoMainActivity"/>
        <activity android:name=".video.test_videoplayer"/>
        <activity android:name=".handler.HandlerThreadActivity"/>
        <activity android:name=".behavior.BehaviorActivity"/>
        <activity android:name=".behavior.RecycleToolbarActivity"/>
        <activity android:name=".courese_detail.CourseDetailActivity"/>
        <activity android:name=".recycle_virtural.VirturalRecycleActivity"/>
        <activity android:name=".touch.TouchActivity"/>
        <activity android:name=".recycler_swipe.MenuHorizontalActivity"/>
        <activity android:name=".kuaidi.KuaiDiActivity"/>
        <activity android:name=".service_process.mutiprocess.MutiProcessActivity"/>
        <activity android:name=".pxdpsp.Px2Dp2SpActivity"/>
        <activity android:name=".bundle.BundleActivity"/>
        <activity android:name=".alpha.AlphaActivity"/>
        <activity android:name=".gif.GifActivity"/>
        <activity android:name=".broadcast.BroadCastActivity"/>
        <activity android:name=".broadcast.MyTestActivity"/>
        <activity android:name=".broadcast.MyTestActivity1"/>
        <activity android:name=".permission.PermissionActivity"/>
        <activity android:name=".LeakActivity"/>
        <activity
            android:name=".urlscheam.launch.SingleTopActivity"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".urlscheam.launch.SingleTaskActivity"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".urlscheam.launch.SingleInctanceActivity1"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".urlscheam.launch.SingleInctanceActivity"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".urlscheam.launch.StandardActivity"
            android:launchMode="standard"
            />
        <activity
            android:name=".urlscheam.launch.StandardActivityBBB"
            android:launchMode="standard"
            />
        <activity
            android:name=".urlscheam.launch.StandardActivityCCC"
            android:launchMode="standard"
            />

        <receiver android:name=".broadcast.MyBroadCastRe">
            <intent-filter>
                <action android:name="android.intent.action.MY_BROADCAST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".broadcast.MyTestActivity$MYBroad">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.Hellowbroad"/>-->
        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name=".service_process.mutiprocess.ProcessServiceTest1"
            android:process="com.example.administrator.myapplication.mutiprocess"
            />

        <activity
            android:name=".service_process.mutiprocess.ProcessActivity"
            android:process=":proceacti"
            />
        <activity
            android:name=".service_process.mutiprocess.ProcessActivity1"
            />
    </application>

</manifest>